.body {
    margin: 0 auto;
    background-color: #313339;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 42em;
    .header {
        width: 42em;
        .mainPageName {
            .otherColor {
                color: #a50b0b;
            }
        }
    }
    .main {
        width: 42em;
        .chatBody {
            width: 42em;
            height: calc(100vh - 10.875em);
            border: 1px solid lightgray;
            border-radius: 1%;
            .userText {
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-top: 10px;
                .userAvatar {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
                .messageBody {
                    margin-left: 10px;
                    .userNickName {
                        color: #a50b0b;
                        margin: 0;
                    }
                    .messageText {
                        margin-top: 5px;
                        border: 1px solid lightgray;
                        border-radius: 3%;
                        
                    }
                }
            }
        }
        .chatInput {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 42em;
            .messageTextArea {
                width: 42em;
                height: 2.625em;
            }
        }
    }
}